<?xml version='1.0' encoding='utf-8'?>
<plugin id="com.megaphone.cordova.LoadingOverlayPlugin" version="0.0.1" xmlns="http://www.phonegap.com/ns/plugins/1.0" >
    <name>LoadingOverlayPlugin</name>
    <author>James Hunter</author>

    <engines>
      <engine name="cordova" version=">=3.0.0" />
    </engines>

    <js-module name="LoadingOverlayPlugin" src="www/LoadingOverlayPlugin.js">
        <clobbers target="cordova.plugins.LoadingOverlayPlugin" />
    </js-module>

    <platform name="ios">
      <hook type="after_plugin_install" src="hooks/add_swift_support.js" />

      <header-file src="src/ios/cordova-plugin-LoadingOverlayPlugin-Bridging-Header.h" />
      <source-file src="src/ios/LoadingOverlayPlugin.swift" />

      <config-file target="config.xml" parent="/*">
        <feature name="LoadingOverlayPlugin">
          <param name="ios-package" value="LoadingOverlayPlugin" />
          <param name="onload" value="true" />
        </feature>
      </config-file>
    </platform>
</plugin>
